<!-- Background image -->
<img
  class="h-full w-screen -z-10 object-cover fixed"
  src=".\assets\Campania-Landing-Page-4k.jpg"
  alt="campania background image"
/>
<app-navbar class="top-0 sticky"></app-navbar>

<div
  class="h-screen fixed sm:relative sm:h-auto sm:flex sm:flex-row sm:justify-center sm:w-2/3 md:w-1/2 lg:w-[600px] sm:mx-auto sm:backdrop-blur-lg sm:mt-64 sm:p-3 rounded-3xl"
>
  <div class="w-64 p-4 ml-0">
    <p class="text-white font-bold text-3xl mb-2">Welcome</p>
    <p class="text-white text-xl">
      Discover everything about
      <span class="text-blue font-bold">Campania’s</span> Travel data and it’s
      Provinces and get an accurate prediction
    </p>
  </div>
  <div
    class="bg-white w-full flex flex-col h-46 fixed bottom-0 sm:bottom-auto sm:w-64 sm:my-auto sm:h-40 sm:relative p-4 rounded-t-3xl sm:rounded-b-3xl"
  >
    <div
      class="border p-4 rounded-lg text-red border-red flex flex-row justify-center mb-2 hover:bg-red hover:text-white ease-in duration-200"
    >
      <i class="bi bi-airplane-fill rotate-45"></i>
      <p class="ml-1">Travel Data</p>
    </div>
    <div
      class="border p-4 rounded-lg text-red border-red flex flex-row justify-center hover:bg-red hover:text-white ease-in duration-200"
    >
      <i class="bi bi-graph-up"></i>
      <p class="ml-1">Predictions</p>
    </div>
  </div>
</div>
