<div class="bg-black h-full">
  <div class="bg-red"><app-navbar class="top-0 sticky"></app-navbar></div>

  <div class="flex justify-center text-3xl text-red mt-20">
    <i class="bi bi-airplane-fill rotate-45"></i>
    <h1 class="font-bold">Travel Data</h1>
  </div>

  <div
    class="bg-[url('/assets/napoli-satellite-sentinel.webp')] bg-center text-white py-40 px-6 mt-20 mb-20 w-1/2 md:w-1/2 flex flex-col mx-auto rounded-lg hover:underline shadow-xl"
  >
    <div [routerLink]="[]" class="font-bold flex flex-row text-2xl">
      Dati Campania
      <i class="bi bi-arrow-right-circle pl-1"></i>
    </div>
  </div>

  <div
    class="flex flex-col mx-auto w-full md:w-2/3 bg-black bg-opacity-25 rounded-lg p-4"
  >
    <div
      *ngFor="let province of provinces"
      [routerLink]="['/province/', province]"
      class="border p-10 rounded-lg text-red border-red flex flex-row justify-center mb-2 hover:bg-red hover:text-white ease-in duration-200"
    >
      <img src="assets/{{ province }}.jpeg" alt="" />
      Dati Provincia di {{ province }}
      <i class="bi bi-arrow-right-circle pl-1"></i>
    </div>
  </div>
</div>
