<div class="bg-white h-full">
  <div class="bg-red"><app-navbar class="top-0 sticky"></app-navbar></div>

  <div class="flex justify-center text-3xl text-red mt-20">
    <i class="bi bi-airplane-fill rotate-45"></i>
    <h1 class="font-bold">Travel Data</h1>
  </div>

  <div
    [routerLink]="['/dashboard']"
    class="cursor-pointer bg-[url('/assets/napoli-satellite-sentinel.webp')]
    bg-center text-white my-20 w-5/6 md:w-[60%] lg:w-[40%] flex flex-col
    justify-between mx-auto rounded-2xl hover: drop-shadow-lg">
    <p class="text-2xl font-bold text-red color-red mb-28 text-right p-4">Campania</p>
    <div class="flex flex-row justify-between bg-opacity-25 backdrop-blur-xl
      w-full h-full rounded-b-2xl p-4">
      <div div class="flex flex-row text-xl">
        View Regional Data
      </div>
      <i class="bi bi-arrow-right-circle-fill pl-1 text-3xl"></i>
    </div>
  </div>

  <div
    class="flex flex-col mx-auto w-full md:w-[60%] lg:w-[40%] bg-lightgray
    rounded-3xl p-4">
    <div
      *ngFor="let province of provinces; let i= index"
      [routerLink]="['/dashboard/', province]"
      class="border-2 px-4 py-6 rounded-2xl text-red border-red flex
      justify-between items-center mb-3 hover:text-white hover:bg-red
      transition-all ease-in duration-200">
      <img src="{{ urlImg[i] }}" class="w-20 h-20 rounded-lg" />

      <p class="text-3xl">{{ province }}</p>
      <i class="bi bi-arrow-right-circle-fill text-3xl"></i>
    </div>
  </div>
</div>
