<!doctype html>
<html>

  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header class="bg-red">
      <nav class="flex justify-between items-center w-[92%] mx-auto">
        <div class="flex w-full justify-between p-3">
          <div [routerLink]="'/home'" class="flex flex-row justify-center
            cursor-pointer">
            <img src="./assets/FE_Logo.svg" alt="" class="w-8 mr-2" />
            <p class="text-white text-2xl" style="font-family: 'Inter',
              sans-serif; font-weight: 900;"> Future </p>
            <p class="text-white text-2xl" style="font-family: 'Inter',
              sans-serif"> Travel </p>
          </div>
          <i class="bi bi-list text-white text-3xl sm:hidden"
            onclick="onToggleMenu(this)" name="menu" cursor-pointer></i>
        </div>
        <div class="nav-links text-white inline-flex ">
          <a class="hover:text-[#09d9d6] mr-5" [routerLink]="['/landing-page']"
            routerLinkActive="router-link-active" ]>Future Travel</a>
          <a class="hover:text-[#09d9d6] mr-5" [[routerLink]=""
            routerLinkActive="router-link-active">Predictions</a>
          <a class="hover:text-[#09d9d6]" [[routerLink]="['/about-page']"
            routerLinkActive="router-link-active"]>About Us</a>
        </div>
      </nav>
    </header>



    <script>
        const navLinks = document.querySelector('.nav-links')
        function onToggleMenu(e){
            e.name = e.name === 'menu' ? 'close' : 'menu'
            navLinks.classList.toggle('top-[9%]')
        }
    </script>
  </body>

</html>
