<div class="flex w-full justify-between p-3">
  <div class="flex flex-row justify-center gutter">
    <img class="w-8 mr-2" src="./assets/FE_Logo.svg" alt="" />
    <p
      class="text-white text-2xl"
      style="font-family: 'Inter', sans-serif; font-weight: 900">
      Future
    </p>
    <p class="text-white text-2xl" style="font-family: 'Inter', sans-serif">
      Travel
    </p>
  </div>
  <div class="fixed top-[40px] right-100 text-40 cursor-pointer">
    <i class="bi bi-list text-white text-3xl"></i>
  </div>
</div>
