<div class="bg-red top-0 fixed sm:sticky z-50 w-full">
  <app-navbar></app-navbar>
</div>

<div id="background">
  <div class="flex justify-center text-3xl text-red pt-20">
    <h1 class="font-bold">About Us</h1>
  </div>

  <div class="flex justify-center text-2xl text-red mt-20">
    <h1 class="font-bold">
      Welcome to <span class="underline decoration-4">ExtraTech</span>
    </h1>
  </div>

  <div
    class="grid md:grid-cols-2 md:divide-x divide-black text-xl text-black mt-10 mx-auto border w-2/3 p-5 rounded-lg bg-[#ffe2d8]"
  >
    <div class="px-10 font-thin">
      We are a team of students made up of three different study courses and we
      have developed a mobile first web application using AngularJs as a
      framework that displays all the data and anticipations relating to tourism
      in Campania
    </div>
    <div class="flex justify-center items-center p-5">
      <img src="../../../assets/extratech-red-logo.png" alt="" />
    </div>
  </div>

  <section class="overflow-hidden text-gray-700 mt-10">
    <div class="container mx-auto px-10 lg:pt-24 lg:px-32">
      <div class="flex flex-wrap -m-1 md:-m-2">
        <div class="flex flex-wrap w-1/2">
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="../../../assets/IMG_1991.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="../../../assets/IMG_2054.jpeg"
            />
          </div>
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="../../../assets/IMG_1991.jpg"
            />
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="w-full p-1 md:p-2">
            <img
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="../../../assets/IMG_1994.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <img
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="flex justify-center text-2xl text-red mt-10">
    <h1 class="font-bold underline decoration-4">Who we are?</h1>
  </div>

  <!---------------------------------------------------------->

  <h2 class="font-bold divide-transparent flex justify-center mt-5">
    Backend Developer:
  </h2>
  <div class="grid grid-cols-2 gap-5 w-1/3 mx-auto mt-10 pb-5">
    <div>
      <img
        src="../../../assets/roberto.webp"
        alt="roberto"
        class="rounded-full"
      />
      <p class="flex justify-center">Roberto</p>
    </div>
    <div>
      <img
        src="../../../assets/fabrizio.JPG"
        alt="fabrizio"
        class="rounded-full"
      />
      <p class="flex justify-center">Fabrizio</p>
    </div>
  </div>
  <div class="border__bottom w-1/4 mx-auto"></div>

  <!---------------------------------------------------------->

  <h2 class="font-bold divide-transparent flex justify-center mt-5">
    Frontend Developer:
  </h2>
  <div
    class="grid grid-cols-2 lg:grid-cols-4 gap-5 w-1/3 md:w-1/4 lg:w-1/2 mx-auto mt-10 pb-5"
  >
    <div>
      <img src="../../../assets/raul.webp" alt="raul" class="rounded-full" />
      <p class="flex justify-center">Raul</p>
    </div>
    <div>
      <img
        src="../../../assets/francesco1.webp"
        alt="francesco"
        class="rounded-full"
      />
      <p class="flex justify-center">Francesco</p>
    </div>
    <div>
      <img src="../../../assets/paolo.webp" alt="raul" class="rounded-full" />
      <p class="flex justify-center">Paolo</p>
    </div>
    <div>
      <img
        src="../../../assets/isolde.webp"
        alt="isolde"
        class="rounded-full"
      />
      <p class="flex justify-center">Isolde</p>
    </div>
  </div>

  <div class="border__bottom w-1/4 mx-auto"></div>

  <!---------------------------------------------------------->

  <h2 class="font-bold divide-transparent flex justify-center mt-5">
    Fintech:
  </h2>
  <div class="grid grid-cols-2 gap-6 w-1/3 mx-auto mt-10 pb-5">
    <div>
      <img
        src="../../../assets/ludovico-new.jpg"
        alt="Ludovico"
        class="rounded-full"
      />
      <p class="flex justify-center">Ludovico</p>
    </div>

    <div>
      <img
        src="../../../assets/francesco2.jpg"
        alt="Francesco"
        class="rounded-full"
      />
      <p class="flex justify-center">Francesco</p>
    </div>
  </div>

  <div class="flex justify-center text-2xl text-red mt-10 mb-10">
    <h1 class="font-bold underline decoration-4">Our Values</h1>
  </div>

  <div
    class="md:grid md:grid-cols-3 md:divide-x divide p-10 border rounded-lg w-2/3 mx-auto bg-white"
  >
    <div class="p-2">
      <h3 class="text-red font-bold">Serietà e transparenza</h3>
      <p class="font-thin">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
        maxime totam id eius sed quo non nesciunt, quibusdam architecto adipisci
        aperiam. Temporibus ut consectetur blanditiis modi dolore, quis nam
        fuga?
      </p>
    </div>
    <div class="p-2">
      <h3 class="text-red font-bold">Competenza</h3>
      <p class="font-thin">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis modi
        molestiae facere dolorem placeat deserunt laboriosam? Ex quasi vero
        impedit perspiciatis aut culpa. Cum nisi sit odit praesentium eum
        obcaecati!
      </p>
    </div>
    <div class="p-2">
      <h3 class="text-red font-bold">Versatilità</h3>
      <p class="font-thin">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque quidem
        quis quae delectus enim vitae id atque officiis. Velit deleniti
        laboriosam facilis recusandae illo, illum doloribus ipsa minus! Iste,
        cupiditate!
      </p>
    </div>
  </div>

  <footer class="bg-red p-10 mt-10">Contact us</footer>
</div>
