<div class="bg-red top-0 fixed sm:sticky z-50 w-full">
  <app-navbar></app-navbar>
</div>

<div class="flex justify-center text-3xl text-red mt-20 lg:mt-14">
  <h1 class="font-bold">About Us</h1>
</div>

<div class="flex justify-center text-2xl text-red mt-20">
  <h1 class="font-bold">Welcome to ExtraTech</h1>
</div>

<div class="flex justify-center text-xl text-black mt-10 w-full mx-auto">
  <p class="px-10">
    We are a team of students made up of three different study courses and we
    have developed a mobile first web application using AngularJs as a framework
    that displays all the data and anticipations relating to tourism in Campania
  </p>
</div>

<section class="overflow-hidden text-gray-700 mt-5">
  <div class="container mx-auto lg:pt-24 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
      <div class="flex flex-wrap w-1/2">
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1991.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1991.jpg"
          />
        </div>
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1991.jpg"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1994.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="flex justify-center text-2xl text-red mt-10">
  <h1 class="font-bold">Who we are?</h1>
</div>

<!---------------------------------------------------------->

<h2 class="font-bold divide-transparent flex justify-center mt-5">
  Backend Developer:
</h2>
<div class="grid grid-cols-2 gap-4 w-1/3 mx-auto mt-10 pb-5">
  <div>
    <img
      src="../../../assets/roberto.webp"
      alt="roberto"
      class="rounded-full"
    />
    <p class="flex justify-center">Roberto</p>
  </div>
  <div>
    <img
      src="../../../assets/fabrizio.webp"
      alt="fabrizio"
      class="rounded-full"
    />
    <p class="flex justify-center">Fabrizio</p>
  </div>
</div>
<div class="border__bottom w-1/4 mx-auto"></div>

<!---------------------------------------------------------->

<h2 class="font-bold divide-transparent flex justify-center mt-5">
  Frontend Developer:
</h2>
<div
  class="grid grid-cols-2 lg:grid-cols-4 gap-4 w-1/3 md:w-1/4 lg:w-1/2 mx-auto mt-10 pb-5"
>
  <div>
    <img src="../../../assets/raul.webp" alt="raul" class="rounded-full" />
    <p class="flex justify-center">Raul</p>
  </div>
  <div>
    <img
      src="../../../assets/francesco1.webp"
      alt="fabrizio"
      class="rounded-full"
    />
    <p class="flex justify-center">Francesco</p>
  </div>
  <div>
    <img src="../../../assets/paolo.webp" alt="raul" class="rounded-full" />
    <p class="flex justify-center">Paolo</p>
  </div>
  <div>
    <img src="../../../assets/isolde.webp" alt="isolde" class="rounded-full" />
    <p class="flex justify-center">Isolde</p>
  </div>
</div>

<div class="border__bottom w-1/4 mx-auto"></div>

<!---------------------------------------------------------->

<h2 class="font-bold divide-transparent flex justify-center mt-5">Fintech:</h2>
<div class="grid grid-cols-2 gap-4 w-1/3 mx-auto mt-10 pb-5">
  <div>
    <img src="../../../assets/ludovico.webp" alt="raul" class="rounded-full" />
    <p class="flex justify-center">Ludovico</p>
  </div>

  <div>
    <img
      src="../../../assets/ludovico.webp"
      alt="fabrizio"
      class="rounded-full"
    />
    <p class="flex justify-center">Francesco</p>
  </div>
</div>

<div class="flex justify-center text-2xl text-red mt-10">
  <h1 class="font-bold">Our Values</h1>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 p-10">
  <div class="p-2">
    <h3 class="text-red font-bold">Value 1</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero odit,
      eligendi assumenda consequuntur id maxime ab illo, tenetur dignissimos
      blanditiis aut corporis delectus voluptatum, ut officiis dolores cumque
      et? Officia.
    </p>
  </div>
  <div class="p-2">
    <h3 class="text-red font-bold">Value 2</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
      ullam at? Minus ullam harum rem odio, molestiae perspiciatis, beatae
      numquam necessitatibus quis veniam dolor laboriosam dicta corrupti ipsum
      qui molestias?
    </p>
  </div>
  <div class="p-2">
    <h3 class="text-red font-bold">Value 3</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
      voluptatem ipsam architecto delectus aspernatur eum error cum ab beatae,
      esse cupiditate veniam iste, officiis quos corporis hic ex maiores
      voluptatum!
    </p>
  </div>
</div>

<footer class="bg-red p-10">contact us</footer>
