#background{
height: 100%;
      background-color: #ffffff;
background-image: radial-gradient(#ff006a 0.7px, #ffffff 0.7px);
background-size: 10px 10px;
  }





  .spiral{
    background-color: #00a6ff31;;
  }
  