<div class="bg-red top-0 fixed sm:sticky z-50 w-full">
  <app-navbar></app-navbar>
</div>

<div class="flex justify-center text-3xl text-red mt-20 lg:mt-14">
  <h1 class="font-bold">About Us</h1>
</div>

<div class="flex justify-center text-2xl text-red mt-20">
  <h1 class="font-bold">Welcome to ExtraTech</h1>
</div>

<div class="flex justify-center text-xl text-black mt-10 w-full mx-auto">
  <p class="px-10">
    We are a team of students made up of three different study courses and we
    have developed a mobile first web application using AngularJs as a framework
    that displays all the data and anticipations relating to tourism in Campania
  </p>
</div>

<section class="overflow-hidden text-gray-700 mt-10">
  <div class="container py-2 mx-auto lg:pt-24 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
      <div class="flex flex-wrap w-1/2">
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1991.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1991.jpg"
          />
        </div>
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1991.jpg"
          />
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="w-full p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="../../../assets/IMG_1994.jpg"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(75).webp"
          />
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img
            alt="gallery"
            class="block object-cover object-center w-full h-full rounded-lg"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(77).webp"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="flex justify-center text-2xl text-red mt-10">
  <h1 class="font-bold">Who we are?</h1>
</div>

<div
  class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4 w-1/2 mx-auto mt-10"
>
  <div>
    <img
      src="../../../assets/roberto.webp"
      alt="roberto"
      class="rounded-full"
    />
    <p class="flex justify-center">Roberto</p>
  </div>
  <div>
    <img
      src="../../../assets/fabrizio.webp"
      alt="fabrizio"
      class="rounded-full"
    />
    <p class="flex justify-center">Fabrizio</p>
  </div>
  <div>
    <img
      src="../../../assets/ludovico.webp"
      alt="ludovico"
      class="rounded-full"
    />
    <p class="flex justify-center">Ludovico</p>
  </div>
  <div>
    <img src="../../../assets/raul.webp" alt="raul" class="rounded-full" />
    <p class="flex justify-center">Raul</p>
  </div>
  <div>
    <img src="../../../assets/isolde.webp" alt="isolde" class="rounded-full" />
    <p class="flex justify-center">Isolde</p>
  </div>

  <div>
    <img src="../../../assets/paolo.webp" alt="paolo" class="rounded-full" />
    <p class="flex justify-center">Paolo</p>
  </div>

  <div>
    <img
      src="../../../assets/francesco1.webp"
      alt="francesco1"
      class="rounded-full"
    />
    <p class="flex justify-center">Francesco</p>
  </div>
</div>
